//          _              _       _    _            _          _
//         /\ \           / /\    / /\ /\ \         / /\       /\ \
//        /  \ \         / / /   / / //  \ \       / /  \      \_\ \
//       / /\ \_\       / /_/   / / // /\ \ \     / / /\ \__   /\__ \
//      / / /\/_/      / /\ \__/ / // / /\ \ \   / / /\ \___\ / /_ \ \
//     / / / ______   / /\ \___\/ // / /  \ \_\  \ \ \ \/___// / /\ \ \
//    / / / /\_____\ / / /\/___/ // / /   / / /   \ \ \     / / /  \/_/
//   / / /  \/____ // / /   / / // / /   / / /_    \ \ \   / / /
//  / / /_____/ / // / /   / / // / /___/ / //_/\__/ / /  / / /
// / / /______\/ // / /   / / // / /____\/ / \ \/___/ /  /_/ /
// \/___________/ \/_/    \/_/ \/_________/   \_____\/   \_\/

// COLOR BRAND VAR
$brand-color:#D97C36;
$brand-color-darken:#8C4815;
$brand-color-lighten:#FFA059;
$brand-color-secondary:#077E8C;
$brand-color-secondary-lighten:#36C7D9;
$brand-color-grey:#777;


// MAIN
#header {
	height:auto;
	width:100%;
	position:relative;
	background:url('/img/blurry.jpg') no-repeat center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
body, html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility !important;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top:0;
	margin-bottom:10px;
}



.container {
	max-width: 68.75em;
	padding: 0 1em;
}

#ghost {
	.jumbotron {
		text-align: left;
		background-color: transparent;
		.btn-ghost {
			background-color:none;
			border-radius:3px;
			border:1px solid white;
			color:white;
			&:hover {
				background-color:white;
				color:$brand-color;
			}
		}
	}
	.sectionHightLight {
		color:white;
		background-color:$brand-color-lighten;
	}
	.about {
		text-align:center;
		padding:50px 0;
	}
}

