<!-- FEATURES -->
<div class="container">
	<section class="about">
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/150x150" />
				<h3>lfsdkjflkdsjfldskfjldskj</h3>
				<p>sdlfkjsdlfkjsdlkfjlsdkjf</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/150x150" />
				<h3>lfsdkjflkdsjfldskfjldskj</h3>
				<p>sdlfkjsdlfkjsdlkfjlsdkjf</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/150x150" />
				<h3>lfsdkjflkdsjfldskfjldskj</h3>
				<p>sdlfkjsdlfkjsdlkfjlsdkjf</p>
			</div>
		</div>
	</section>
</div>
<!--END FEATURES -->