<script src="{{site.dir.lib}}jquery/dist/jquery.min.js" ></script>


{{#if js}}
	{{#each js}}
		<script src="{{site.dir.js}}{{this}}"></script>
	{{/each}}
{{/if}}


<script src="{{site.dir.lib}}jquery/dist/jquery.js" ></script>


</body>
</html>