<!-- INTRO -->
<section id="header">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Lorem Ipsum </h1>
					<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.dsfsdfsd sdsdsd Nam convallis, diam a faucibus congue, orci n dsfsdfsd sd sdlfkjsdlkfj lsdfjksdflkjsdsd Nam convali.</em></p>
					<p><a class="btn btn-ghost btn-lg" href="#" role="button">Lorem ipsum »</a></p>
				</div>
				<div class="col-md-6 text-center">
					<img src="http://placehold.it/200x300" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END INTRO -->