// MIXIN

// COLOR BRAND VAR
$brand-color:#D97C36;
$brand-color-darken:#8C4815;
$brand-color-lighten:#FFA059;
$brand-color-secondary:#077E8C;
$brand-color-secondary-lighten:#36C7D9;
$brand-color-grey:#777;


// MAIN
#header {
	height:400px;
	width:100%;
	position:relative;
	background:url('/img/blurry.jpg') no-repeat center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}


#theme {
	.jumbotron {
		background-color: transparent;
		.btn-ghost {
			background-color:none;
			border-radius:3px;
			border:1px solid white;
			color:white;
			&:hover {
				background-color:white;
				color:$brand-color;
			}
		}
	}
}

