

//MIXIN
@mixin vertical-align {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


.bBig {border:3px solid grey;}

#header {
	left: 0;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 999;
	height:70px;
	zoom:1;
	padding:10px 0 10px 0;
	.logo {
		padding-left:10px;
		display:block;
		float:left;

	}
	a {
		display:inline-block;
	}	
	nav {
		@include vertical-align;
	}
	
	ul {
		margin:0;
		li {
			display:inline-block;
			a {
				color:white;
				padding:8px 10px;
				margin-right:11px;
				margin-left:11px;
				border:1px solid none;
				@include border-radius(2px);
				&:hover {
					margin-right:10px;
					margin-left:10px;
					border:1px solid #fff; 
				}
				&.last {
					&:hover {
						margin-right:20px;
					}
					margin-right:21px;
				}
			}
		}
		list-style-type: none;
		position:relative;
	}
	.hamburger {
			position: absolute;
			left:15px;
			font-size:1.7em;
			top: 20px;
			color: rgba(0, 0, 0, 0.8);
			text-decoration: none;
			display: none;
			color:white;
	}	
}

@media screen and (max-width: 700px) {
	#header {
		margin-bottom:10px;
		background-color:darken(grey, 20%);
		.logo {
			width:100%;
			text-align:center;
			padding-left:0;	
		}
		nav {
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			top:10px;
			display:none;
		}
		.hamburger {
			display:block;
			position:absolute;
			z-index:9999;
		}
		ul {
			li{
				text-align:center;
				background-color:darken(grey, 20%);
				padding:10px;
				width:100%;
				a {
					&:hover, &.last, &:hover.last {
						border:none;
						margin:0;
					}
				display:block;
				}
			}
		} 
	}
}

